:root {
    --orange: #ffa542;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #eaeaea;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    color: #101010;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
